@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Open Sans", sans-serif; */

body {
  font-family: "Open Sans", sans-serif;
}

/* shared style */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background-color: #fd6e0a;
  padding: 18px 35px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  border: none;
  border-radius: 5px;
}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 20px;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
}
