@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Open Sans", sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* shared style */
.text-primary {
  color: #fd6e0a;
}

.dark-1 {
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.dark-5 {
  color: #d1d1d1;
}

.btn-primary {
  background-color: #fd6e0a;
  padding: 18px 35px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  padding: 18px 35px;
  color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
}

.btn-action {
  margin-right: 30px;
}

/* ----------------------- */

header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 20px;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
}

/* banner */
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
}

.banner-description {
  margin: 20px 0 30px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 38px 0 200px;
}

.developer-banner-text {
  font-size: 100px;
  font-weight: 700;
  line-height: 136px;
  letter-spacing: 1.9rem;
  opacity: 15%;
  position: absolute;
  left: -320px;
  top: 340px;
  transform: rotate(-90deg);
}

/* about me */

.about-me {
  border: 2px solid tomato;
  width: 1140px;
  margin: 130px auto;
  background-color: #fff8f3;
  border-radius: 10px;
}

.about-me-content {
  margin: 131px 156px;
  background-color: white;
  text-align: center;
}

.about-me-content .title {
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
}

.about-me-content .description {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-me .personal-information {
  display: flex;
  justify-content: space-around;
}

.about-me .personal-information .info-sub-title {
  font-size: 20px;
}

.about-me .personal-information .info-title {
  font-weight: 700;
  font-size: 20px;
}

/* What I do section */

.what-I-do {
  text-align: center;
  width: 1140px;
  margin: 0 auto 130px;
}

.what-I-do .title {
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
}

.what-I-do .description {
  font-size: 18px;
  line-height: 30px;
  margin: 30px 0 50px;
}

.all-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px 33px 0;
  text-align: left;
}

.card .card-title {
  margin: 30px 0px 20px 0;
}

.card .description {
  font-size: 16px;
  line-height: 28px;
}

/* A summary of My Resume */
.a-summary-of-my-resume {
  width: 1140px;
  margin: 0 auto 113px;
}

.a-summary-of-my-resume .title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 113px;
}

.experiences {
  display: flex;
  gap: 24px;
}

/* My Education */
.course-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  margin: 30px 0 10px;
}

.course .institute-name-and-date {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 20px;
}

.course .course-description {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 29.5px;
}

.a-summary-of-my-resume .section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
}

.a-summary-of-my-resume .download-btn {
  text-align: center;
  margin-top: 20.5px;
}



/* Responsive Design */

.hide {
  display: hide;
}

/* for small device */
@media screen and (max-width: 576px) {

  /* banner */
  .banner {
    flex-direction: column;
    padding: 20px 20px 0;
  }

  nav {
    flex-direction: column;
    padding: 0;
  }

  .nav-title {
    padding: 25px 0;
  }

  nav ul {
    align-items: center;
    justify-content: space-around;
    width: 100%; 
  }

  nav ul li {
    margin: 0;
  }

  .developer-banner-text {
    display: none;
  }

  .banner img {
    width: 100%;
  }

  .btn-action {
    margin-bottom: 20px;
  }


  /* ------------------------- */

  .all-card {
    grid-template-columns: repeat(1, 1fr);
  }

  .experiences {
    flex-direction: column;
    padding: 0 20px;
  }

  .what-I-do {
    width: 100%;
  }

  .what-I-do .description {
    padding: 0 20px;
  }



  /* About me */
  .personal-information {
    flex-direction: column;
    gap: 20px;
  }

  .about-me {
    width: 100%;
    border: none;
    margin: 50px 0;
  }

  .about-me-content {
    margin: 0;
    padding: 20px;
    background-color: #fff8f3;
  }


  .a-summary-of-my-resume {
    width: 100%;
  }

   
}